<h2>Profile for <%= @user.username %></h2>
<p class='quiet'>Member since <%= @user.created_at.year %></p>

<hr/>
<div class='row'>
  <div class='span6'>
    <h3><%= @user.username %>'s Posts</h3>
    <%= render 'posts/posts', obj: @user.posts %>
  </div>
  <div class='span6'>
    <h3><%= @user.username %>'s Comments</h3>
    <% @user.comments.each do |c| %>
      <div class='well'>
        <%= c.body %>
        <br/>
        <span class='quiet'>on</span>  <%= link_to c.post.title, post_path(c.post) %>
      </div>
    <% end %>
  </div>
</div>
